
.tableContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
    padding: 20px;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    background-color: #fff;
    color: #333;
}

.table {
    width: 1200px;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.th, .td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.th {
    background-color: #d32f2f;
    font-weight: bold;
    color: #fff;
}

.tr:hover {
    background-color: #ffe5e5;
}

.link {
    color: #d32f2f;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.th span {
    margin-left: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 12px;
}

.pagination button {
    background-color: #D93434;
    color: white;
    border: none;
    padding: 3px 6px;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
@media (max-width: 1024px) {
    .table {
        width: 100%;
        overflow-x: auto;
    }
    .th, .td {
        padding: 10px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .inputContainer {
        justify-content: center;
    }
    .input {
        width: 100%;
        max-width: 250px;
    }
    .table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .th, .td {
        padding: 8px;
        font-size: 12px;
    }
    .pagination {
        font-size: 10px;
    }
    .pagination button {
        font-size: 10px;
        padding: 2px 5px;
    }
}