
.container {
    margin-top: 54px;
    margin-left: 150px;
}


.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border: 1px solid #bfc0c6;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 0 0 10px;


}


.calendarWrapper {
    background: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.calendar {
    border: none;
}
.pastDate {
    color: #ADAEB3 !important;pointer-events: none;
    opacity: 0.5;
}
.Button {
    margin-left: auto;
    margin-top: 15px;
}
