.section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../../../shared/assets/images/backround-why.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    position: absolute;
    right: 0 ;
    top: 45%;
    transform: translateY(-50%);
}
.title_w {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #F6F6F6;
    word-wrap: break-word;text-align: left;
}

.discript_w {
    font-size: 1.25rem;
    color: #F6F6F6;
    text-align: left;
    margin-bottom: 30px;
}
@media screen and (max-width: 700px) {

    .content2 {
        text-align: center;
        color: white;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
    }
    .title_w{
        font-size: 2rem;
        text-align: center;
    }
    .discript_w{
        font-size: 0.9rem;
        text-align: center;
    }.section2{
         background-image: url('../../../../shared/assets/images/backround-why-700.svg');
     }}