.section4 {
    padding: 20px;
}

.content4 {
    text-align: center;
}

.title_c {
    font-size: 5rem;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #C51A2D, #86040E, #440204);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    word-wrap: break-word;
}
    .image {
        position: relative;
        width: 100%;
        height: 90vh;
        background-image: url('../../../../shared/assets/images/FirstTime.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 600px) {
        .title_c {
            font-size: 2rem;
            text-align: center;
        }
        .image {
            background-image: url('../../../../shared/assets/images/FirstTime480.svg');
        }
    }
